body{
  background-color:#556d59;
  font-size: 13pt;
  }
a:link{
  color:#ffffff; 
}
a:visited{
  color:#ffffff;
}
p {
    color:#ffffff;
  }
  /*
thead {
  color:red;
counter-increment:; 
  }
*/
footer{
  font-size: 10pt;
}
input:invalid {
    color:red;
  }
