body{
	background-color:#4d86a0;
	font-size: 13pt;
}
a:link{
	color:#ffffff;
}
a:visited{
	color:#ffffff;
}
a:hover{
	color:pink;
}
p {
	color:#ffffff;
}
  /*
thead {
  color:red;
counter-increment:;
  }
*/
h1{
	font-size: :14pt;
	color:#ffffff;
}
footer{
  font-size: 10pt;
  text-align: center;
  padding-left: 13em;
}
input:invalid {
    color:red;
  }
div.center{
  /*color:#ffffff; */
  padding-left: 11em;
}
div.leftside{
  position: fixed;
  left: 2em;
  width: 9em;
  padding-bottom: 2em;
}
div.header{

}
